@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        <p>http://localhost:53019/send/message?sUsername=mytest&sMessage=Hello</p>
    </div>
</body>
</html>
